* {
    font-family: Arial;
}

body {
    margin: 0;
}

.content {
    margin: auto;
    width: 80vw;
    padding: 20px;
}

.map {
    height: 60vh;
}

.title {
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.instruction {
    text-align: center;
    margin-bottom: 20px;
}